#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  width: 640px;
  margin: auto;
  border: 4px solid #333;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.selected {
  outline: 3px solid #ff0000;
}

.white-piece {
  color: #ffffff;
  text-shadow: 0 0 2px #000;
}

.black-piece {
  color: #000000;
  text-shadow: 0 0 2px #fff;
}

.restart-btn {
  margin-bottom: 10px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}